body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

.App {
  height: 100vh;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
}

.vis-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  padding: 16px;
  color: #fff;
  width: 200px;
  border-radius: 16px;
}

.controls > button,
.reset-button {
  padding: 10px;
  background: #222;
  color: #ccc;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.controls > button:hover,
.reset-button:hover {
  background-color: #111;
  color: #fff;
}

.controls > button.active {
  font-weight: bold;
  background-color: #333;
  color: #ff0;
}

.selected-point {
  font-size: 0.85em;
  margin-top: 16px;
}

.reset-button {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
}
